*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    /* height: 100%; */
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 16px;
}

.wrapper{
    min-height: 100vh;
}

.full{
    min-height: 100vh;
    /* position: absolute; */
    width: 100%;
    display:none;
    padding: 110px 30px;
}

.home{
    background-color: aqua;
    /* z-index: 1; */
    /* display: block; */
    height: 200%;
}

.about{
    background-color: coral;
    /* z-index: 0; */
    
}

.product{
    background-color: lightgreen;
    /* z-index: 0; */
    
}

.recipe{
    background-color: gray;
    /* z-index: 0; */
    
}

.contact{
    background-color: rgb(255, 80, 240);
    /* z-index: 0; */
   
}

.nav-footer{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(99, 99, 99, .5);
    z-index: 99;
    opacity: 50%;
}

nav{
    display: flex;
    top:0;

}

nav a {
    margin: auto;
}

footer{
    margin-top: -80px;
    position: relative;  
    bottom: 0;
    height: 80px;
    background-color: rgba(99, 99, 99, .5)    
}